.todos {
    &__wrap {
        width: 50%;
    }
    &__subwrap {
        display: flex;
        justify-content: space-between;
    }
    &__form {
        margin: 20px 0;
    }
    &__input {
        padding: 8px 16px;
        font-size: 16px;
        border: none;
        outline: 1px solid  rgb(250, 193, 255);
        border-radius: 5px;
    }
    &__btn {
        background-color: rgb(250, 193, 255);
        padding: 6px 30px;
        height: 100%;
        margin-left: 10px;
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__itemWrap {
        display: flex;
        justify-content: space-between;
    }
}